body {
    background: rgb(107, 107, 241);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;

}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 2px 2px 5px black;

}

#a1 {
    background-color: rgb(72, 72, 177);
    border: white;
    height: 150px;
    text-align:start;
    color: white;
    padding-left: 0.5rem;
    font-weight: bolder;
    font-size: 18pt;
}
#botao {
    font-size: 16pt;
}

#mostrador{
    background-color: blue;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18pt; 
    margin-top: 2rem;
}

#seltab {
    width: 200px;
}